{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block header_title %}Welcome | {{ block.super }}{% endblock %}

{% block jumbotron %}

{{ block.super }}

{% endblock %}


{% block content %}

<h1>{{ title }}</h1>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <h1>{{ title }}</h1>

    {{ user }}

    {{ request.user }}

    <form action="" method="post">
  
    {{ form|crispy }}
    <input class="btn btn-primary" type="submit" value="Sign Up">{% csrf_token %}

    </form>
  </div>
</div>

{% endblock %}
